@model HomeModel

<div class="container">
      <div class="row">
        <div class="col-sm-4">
            @foreach(var category in Model.Categories)
            {
                <div class="list-group">
                    <a class="list-group-item active">
                      @category.Title
                    </a>
                    @foreach(var subcategory in category.Subcategories)
                    {
                     <a asp-controller="Home" asp-action="Index" asp-route-subcategoryId="@subcategory.Id" class="list-group-item">
                         @subcategory.Title <span class="badge">0</span>
                     </a>   
                    }
                 </div>                
            }

        </div>
        <div class="col-sm-8">
          <div>
            <div class="row">
                    @if(Model.SelectedSubcategory != null && Model.SelectedSubcategory.Products.Count != 0)
                    {
                        @foreach(var product in Model.SelectedSubcategory.Products)
                        {
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    @if(product.ImageName != null)
                                    {
                                        <img class ="img-thumbnail" src="@(System.IO.Path.Combine("Photos", product.ImageName))" alt="...">
                                    }
                                    else
                                    {
                                        <img class ="img-thumbnail" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTY2OTUzZGI1ZWMgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjY5NTNkYjVlYyI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
                                    }
                                    <div class="caption text-center">
                                    <h3>
                                        <a asp-controller="Product" asp-action="View" asp-route-id="@product.Id">
                                            @product.Name
                                        </a>
                                    </h3>
                                    <p>Price: <span>@product.Price€</span></p>
                                    <p>
                                        <form asp-controller="Home" asp-action="Index" asp-route-productId="@product.Id" method="post">
                                            <button type="submit" class="btn btn-primary">Add to cart</button>                                            
                                        </form>
                                    </p>
                                    </div>
                                </div>
                            </div>                            
                        }
                    }
                    else if (Model.SelectedSubcategory != null)
                    {                       
                       <p>There are no products in @Model.SelectedSubcategory.Title subcategory</p>
                    }
                    else
                    {
                        <p>Please select subcategory</p> 
                    }
                </div>
          </div>
        </div>
      </div>
    </div>